nvim/node_modules/
nvim/site/
nvim/autoload
nvim/package-lock.json
nvim/package.json
nvim/~
*.DS_Store
codebook/
filezilla/
fish/
gh/
git/
github-copilot/
gtk-2.0/
iterm2/
jgit/
karabiner/
menus/
neofetch/
NuGet/
raycast/
StardewValley/
